.unit-form input{
    border: none;
    border-bottom: 1px solid rgb(37, 37, 86);
    width: 100%;
}
.u-l-input{
    border: none;
    font-weight: bolder;
    border-style: hidden;
}
.ufm-input{
    width: 90%;
    height: 6vh;
    padding: 3px;
    border: none;
    border-bottom: 1px solid rgb(57, 57, 118);
    margin-bottom: 1vh;
}

.ufm-b{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 30vh;
}